.container {
    padding: 20px;
}

.complaints {
    max-width: 1200px;
    margin: 0 auto;
}

.complaint-form {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
}

.input-field,
.description-box {
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0;
    font-size: 14px;
}

.description-column {
    margin-top: 20px;
}

.description-box {
    height: 100px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.pagination {
    margin-top: 20px;
    text-align: end;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(8, 8, 207);
}

.pagination button[disabled] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }

    .description-column {
        margin-top: 20px;
    }

    table {
        font-size: 14px;
    }

    .pagination {
        font-size: 14px;
    }
}
