.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.managerooms-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.rooms-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.rooms-table th, .rooms-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.add-room-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.add-room-button:hover {
    background-color: #45a049;
}

/* Book button */
.book-button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.book-button:hover {
    background-color: #45a049;
}

/* Check In button */
.checkin-button {
    background-color: #007bff; /* Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.checkin-button:hover {
    background-color: #0056b3;
}

/* Check Out button */
.checkout-button {
    background-color: #dc3545; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.checkout-button:hover {
    background-color: #c82333;
}

/* Action buttons */
.view-button, .edit-button, .delete-button {
    background-color: #f0ad4e; /* Yellow for Action buttons */
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    margin: 0 5px;
}

.view-button:hover {
    background-color: #ec971f;
}

.edit-button:hover {
    background-color: #d9534f;
}

.delete-button:hover {
    background-color: #d9534f;
}

/* Optional: To style the entire actions section */
.action-buttons {
    display: flex;
    align-items: center;
}

